---
layout: default
title: Главная
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">

    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {% assign m = post.date | date: "%-m" %}
    {{ post.date | date: "%-d" }}
    {% case m %}
      {% when '1' %}Янв
      {% when '2' %}Фев
      {% when '3' %}Март
      {% when '4' %}Апр
      {% when '5' %}Май
      {% when '6' %}Июнь
      {% when '7' %}Июль
      {% when '8' %}Авг
      {% when '9' %}Сен
      {% when '10' %}Окт
      {% when '11' %}Ноя
      {% when '12' %}Дек
    {% endcase %}
    <span class="post-date">{{ post.date | date: "%Y" }}</span>
    <br>
    {{ post.excerpt  }}
    [<a href="{{ post.url }}">Читать дальше</a>]
  </div>
  {% endfor %}
</div>


{% if paginator.total_pages > 1 %}

  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Старые</a>
    {% else %}
      <span class="pagination-item older">Старые</span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item newer" href="{{ site.baseurl }}">Новые</a>
      {% else %}
        <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Новые</a>
      {% endif %}
    {% else %}
      <span class="pagination-item newer">Новые</span>
    {% endif %}
{% endif %}
</div>